{% extends 'tournament/index.html'%}

{% load crispy_forms_tags %}

{% block content %}      

<!--Tournament Form-->
<div class="container py-5>">
    <h1 style="margin-top: 20px;">Create Tournament</h1>
    <p>Please fill the form to create your new Tournament.</p> 
    <p style="color:green; font-weight: bold;">Players count MUST BE EVEN and in [2,4,8,16], because everyone has to have a partner!</p>
    <p style="color:red; font-weight: bold;">Maximum number of players to set is 16!</p>
    
    <form method="POST">
        {% csrf_token %}
        {{create_tournament_form|crispy}}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>

{% endblock %}