* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-size: 18px;
    background: linear-gradient(9deg, #161616, #3b3b3b, #727272);
    border-bottom: #000000 4px solid;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .logo, .material-icons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

a.nav-links, a.logo {
    color: rgb(255,255,255);
    text-decoration: none;
    opacity: 0.7;
}

a.nav-links:hover, a.logo:hover {
    color: rgb(255,255,255);
    text-decoration: none;
    opacity: 1.0;
}

.main-nav li {
    text-align: center;
    margin: 10px auto;
}

.logo {
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    margin-right: 10px;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 65px;
}

.logo p {
    margin-top: 12px;
    padding-left: 5px;
}

.toggle-nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.material-icons {
    font-size: 24px;
}

.active {
    display: block;
}

/* For large screen more than 600 */

@media screen and (min-width:600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .toggle-nav {
        display: none;
    }
    .main-nav {
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }
    .main-nav>li {
        margin: 0;
    }
    .nav-links {
        margin-left: 20px;
    }
    .logo {
        margin-top: 0;
    }
}